<%= render Shared::Breadcrumb::Component.new(last_option: 'Cards') %>

<!-- Big section cards -->
<h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
  Big section cards
</h4>
<div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
  <p class="text-sm text-gray-600 dark:text-gray-400">
    Large, full width sections goes here
  </p>
</div>

<!-- Responsive cards -->
<h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
  Responsive cards
</h4>
<div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
  <%= Shared::Card::Component.new.dashboard(color: 'orange', fa_icon: 'fa-solid fa-users', title: 'Total Client', count: '6389') %>
  <%= Shared::Card::Component.new.dashboard(color: 'green', fa_icon: 'fa-solid fa-money-bills', title: 'Account Balance', count: '$ 46,760.89') %>
  <%= Shared::Card::Component.new.dashboard(color: 'blue', fa_icon: 'fa-solid fa-cart-shopping', title: 'New Sales', count: '375') %>
  <%= Shared::Card::Component.new.dashboard(color: 'teal', fa_icon: 'fa-solid fa-envelope', title: 'Pending Contacts', count: '45') %>
</div>

<!-- Cards with title -->
<h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">
  Cards with title
</h4>
<div class="grid gap-6 mb-8 md:grid-cols-2">
  <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800 border border-gray-200 dark:border-gray-800">
    <h4 class="mb-4 font-semibold text-gray-600 dark:text-gray-300">
      Revenue
    </h4>
    <p class="text-gray-600 dark:text-gray-400">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Fuga, cum commodi a omnis numquam quod? Totam exercitationem
      quos hic ipsam at qui cum numquam, sed amet ratione! Ratione,
      nihil dolorum.
    </p>
  </div>
  <div class="min-w-0 p-4 text-white bg-cyan-600 dark:bg-cyan-700 rounded-lg shadow-xs">
    <h4 class="mb-4 font-semibold">
      Colored card
    </h4>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Fuga, cum commodi a omnis numquam quod? Totam exercitationem
      quos hic ipsam at qui cum numquam, sed amet ratione! Ratione,
      nihil dolorum.
    </p>
  </div>
</div>
