<%= render partial: 'devise/shared/heading', locals: { heading: 'Forgot password?' } %>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: 'space-y-2 md:space-y-4' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= render partial: 'devise/shared/fields/email', locals: { f: f } %>
  <%= render partial: 'devise/shared/submit_btn', locals: { f: f, name: 'Resend confirmation instructions' } %>
<% end %>
<div class='text-center pt-8'>
  <%= render "devise/shared/links" %>
</div>
