<li class="relative px-3 py-1" x-data="{ sidebar_<%= @name %>_menu: false}">
  <button class="px-3 py-2 inline-flex items-center justify-between w-full font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 hover:bg-gray-200 dark:hover:bg-gray-900 rounded-lg"
    @click="sidebar_<%= @name %>_menu = !sidebar_<%= @name %>_menu"
    @keydown.escape="sidebar_<%= @name %>_menu = false"
  >
    <span class="inline-flex items-center">
      <%= content_tag(:i, '', class: "w-5 #{@fa_icon}") %>
      <span class="ml-4"><%= @name.titleize %></span>
    </span>
    <div x-show=<%= "!sidebar_#{@name}_menu" %>>
      <%= content_tag(:i, '', class: 'w-5 fa-solid fa-angle-down') %>
    </div>
    <div x-show=<%= "sidebar_#{@name}_menu" %>>
      <%= content_tag(:i, '', class: 'w-5 fa-solid fa-angle-up') %>
    </div>
  </button>
  <ul class="p-2 mt-2 space-y-2 overflow-hidden font-medium text-gray-500 rounded-md shadow-inner bg-gray-200 dark:text-gray-400 dark:bg-gray-900"
    x-show="sidebar_<%= @name %>_menu"
    @click.away="sidebar_<%= @name %>_menu = false"
    x-transition:enter="transition-all ease-in-out duration-300"
    x-transition:enter-start="opacity-25 max-h-0"
    x-transition:enter-end="opacity-100 max-h-xl"
    x-transition:leave="transition-all ease-in-out duration-300"
    x-transition:leave-start="opacity-100 max-h-xl"
    x-transition:leave-end="opacity-0 max-h-0"
  >
    <% @links.each do |link| %>
      <%= Sidebar::SubMenu::Item::Component.new(title: link[:title], link: link[:url]).call %>
    <% end %>
  </ul>
</li>
