<%= render partial: 'devise/shared/heading', locals: { heading: 'Sign Up' } %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'space-y-2' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class='flex gap-4'>
    <%= render partial: 'devise/shared/fields/text', locals: { f: f, props: { name: :first_name, label: 'First Name' } } %>
    <%= render partial: 'devise/shared/fields/text', locals: { f: f, props: { name: :last_name, label: 'Last Name' } } %>
  </div>

  <%= render partial: 'devise/shared/fields/email', locals: { f: f } %>
  <%= render partial: 'devise/shared/fields/text', locals: { f: f, props: { name: :phone_number, label: 'Phone Number' } } %>

  <div class='flex gap-4'>
    <%= render partial: 'devise/shared/fields/password', locals: { f: f, props: { name: :password } } %>
    <%= render partial: 'devise/shared/fields/password', locals: { f: f, props: { name: :password_confirmation, label: 'Password Confirmation' } } %>
  </div>

  <%= render partial: 'devise/shared/fields/gender', locals: { f: f } %>

  <%= render partial: 'devise/shared/rememberable', locals: { f: f } %>

  <%= render partial: 'devise/shared/submit_btn', locals: { f: f, name: 'Sign Up' } %>
<% end %>
<div class='text-center pt-8'>
  <%= render "devise/shared/links" %>
</div>
