<%= render partial: 'devise/shared/heading', locals: { heading: 'Reset Password' } %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'space-y-2 md:space-y-4' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= render partial: 'devise/shared/fields/password', locals: { f: f, props: { name: :password } } %>
  <%= render partial: 'devise/shared/submit_btn', locals: { f: f, name: 'Change my password' } %>
<% end %>
<div class='text-center pt-8'>
  <%= render "devise/shared/links" %>
</div>
