<header class="z-30 fixed top-0 w-full bg-gray-100 dark:bg-gray-800">
  <div class="flex items-center justify-between gap-4 px-6 py-2 mx-auto text-cyan-600 dark:text-cyan-500">
    <div class='flex justify-items-center gap-4'>
      <%= render(Navbar::ToggleSidebarBtn::Component.new) %>
      <%= link_to root_path, class: 'flex justify-between text-lg font-bold text-gray-800 dark:text-gray-200' do %>
        Rails Starter Kit
      <% end %>
    </div>
    <!-- Search input -->
    <div class="flex justify-center">
      <%= Navbar::SearchInput::Component.new.call %>
    </div>
    <ul class="flex items-center flex-shrink-0 space-x-6">
      <!-- Notifications menu -->
      <li class="relative">
        <%= render Shared::Dropdown::Component.new.nav_notifications %>
      </li>

      <li class="relative">
        <%= render Shared::Dropdown::Component.new(
          name: 'profile',
          props: {
            options: [
              { content: content_tag(:i, '', class: 'w-4 h-4 mr-3 fa-regular fa-user') + content_tag(:span, 'Profile'), url: '#' },
              { content: content_tag(:i, '', class: 'w-4 h-4 mr-3 fa-solid fa-gear') + content_tag(:span, 'Setting'), url: '#' },
              { content: content_tag(:i, '', class: 'w-4 h-4 mr-3 fa-solid fa-arrow-right-from-bracket') + content_tag(:span, 'Log out'), url: destroy_user_session_path, data_attr: { "turbo-method": :delete } }
            ],
            button_data: content_tag(:i, '', class: 'fa-regular fa-circle-user object-cover h-6 w-6'),
            # button_data: image_tag('https://images.unsplash.com/photo-1502378735452-bc7d86632805?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=aa3a807e1bbdfd4364d1f449eaa96d82', class: 'object-cover w-8 h-8 rounded-full'),
            klass: 'w-32'
          }
        ) %>
      </li>
    </ul>
  </div>
</header>
