<!DOCTYPE html>
<html>
  <head>
    <title>StarterKit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body data-controller='toggle_theme' class='bg-gray-50 dark:bg-gray-900'>
    <%= Shared::FlashMessage::Component.new(notice: notice, alert: alert).call %>
    <% if ['passwords', 'sessions', 'registrations'].include?(controller_name) && !(controller_name.eql?('registrations') && ['edit', 'update'].include?(action_name)) %>
      <%= yield %>
    <% else %>
      <div class="flex h-screen">
        <%= render(Sidebar::Component.new) %>
        <div class="flex flex-col flex-1 w-full">
          <%= render(Navbar::Component.new) %>
          <main class="h-full overflow-y-auto">
            <div class=' mx-auto text-gray-800 dark:text-gray-200 py-6 px-6 lg:px-8 mb-6'>
              <%= yield %>
            </div>
          </main>
        </div>
      </div><!-- Theme toggler -->
    <% end %>
    <div class="fixed right-6 bottom-2.5 z-50">
      <%= Shared::ToggleTheme::Component.new.call %>
    </div>
  </body>
</html>
